@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

/* Fade-in Animation */
.fade-in-init {
    opacity: 0;
    transform: translateY(1rem); /* 16px */
    transition: opacity 600ms ease-out, transform 600ms ease-out;
  }
  
  .fade-in-start {
    opacity: 1;
    transform: translateY(0);
  }
  
  #bg-effect {
    background: radial-gradient(
      600px circle at center,
      rgba(255, 255, 255, 0.03),
      transparent 80%
    );
    transition: background-position 0.2s ease;
  }
  